extends layout 

block content 
    div(class='card w-50 m-auto mt-2')
        div(class='card-header')
           h4(class='text-center') 
            a(href=car.url) #{car.title}
        if (car.img.length != 0) 
            div(id='car'+car._id class="carousel slide" data-bs-ride="carousel")
                div(class="carousel-inner")
                    each img, key  in car.img
                        if key == 0 
                          div(class="carousel-item active")
                            img(
                              class='w-100'
                              src=`data:${img.contentType};base64,${img.data.toString('base64')}`)
                        else 
                           div(class="carousel-item")
                            img(src=`data:${img.contentType};base64,${img.data.toString('base64')}`
                                class='w-100'
                            ) 
                button(class="carousel-control-prev" type="button" data-bs-target=`#car${car._id}` data-bs-slide="prev")
                          span(class="carousel-control-prev-icon" aria-hidden="true")
                          span(class="visually-hidden")
                button(class="carousel-control-next" type="button" data-bs-target=`#car${car._id}` data-bs-slide="next")
                          span(class="carousel-control-next-icon" aria-hidden="true")
                          span(class="visually-hidden")
        else 
                    p no image
        div(class='card-body')
                    h3 Number Plate: #{car.number_plate}
                    h3 Brand: 
                        a(href=car.brand.url) #{car.brand.title}
                    ul(class='list-group') 
                        li(class='list-group-item card-header') 
                                h4 Car types
                        each carType in car.type   
                            li(class='list-group-item') 
                                a(href=carType.url)  #{carType.title}
                        a(class='btn btn-warning w-100 mt-1' href=car.url + '/edit') Edit        
                        a(class='btn btn-danger' href=car.url + '/delete') Delete                  